<div class='study'>
  <li class='list-group-item'>
    <div class="row">
      <div class="col-sm-1">
        <%= image_tag(user.image.thumb.url) %>
      </div>
      <div class="col-sm-11">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">  
            <%= user.name %> <%= Combmaster.select_tag_name(study.tag) %>
            <%= hidden_field_tag :study_id, study.id %>
          </h5>
          <small><%= convert_date_to_posttime(study.updated_at) %></small>
        </div>
        <p><%= convert_date_to_studydate(study.date) %> <%= convert_time_to_studytime(study.time) %></p>
        <p><%= study.content %></p>
      </div>
    </div>
  </li>
</div>
