<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render partial: "shared/errors_full_messages", locals: { model: @user } %>
    <%= form_with model: @user, url: sign_in_path,local: true do |f| %>
      <div class="form-group">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード(確認)' %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :public, '勉強記録を全ユーザーに公開する' %>
        <%= f.check_box :public %>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <%= f.submit "登録する", class:"btn btn-primary" %>
        </div>
        <div class="col-sm-3">
          <%= link_to "登録済みの方", login_path, class: "small" %>
        </div>
      </div>
    <% end %> 
  </div>
</div>