<div class="row">
  <div class="col-sm-3">
    <%= form_with model: @user, local: true do |f| %>
      <% if @user.image? %>
        <%= image_tag @user.image.thumb.url %>
      <% else %>
        <%= image_tag("icon/no-image.png")%>
      <% end %> 
      <%= f.label :image, "アイコン画像"%>
      <%= f.file_field :image %>
      <div class="form-group">
        <%= f.label :public, '勉強記録を全ユーザーに公開する', class: "small" %>
        <%= f.check_box :public %>
      </div>
      <%= f.submit "更新", class:"btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-sm-9">
    <ul class='list-group'>
      <% @user_studies.each do |study| %>
        <%= render partial: "study", locals: { study: study } %>
      <% end %>
    </ul>
  </div>
</div>