<div class="row">
  <div class="col-sm-3">
    <%= form_with scope: :user, url: edit_user_path, local: true do |f| %>
      <div class="form-group">
        <%= f.label :public, '勉強記録を全ユーザーに公開する', class: "small" %>
        <%= f.check_box :public %>
      </div>
      <%= f.submit "更新", class:"btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-sm-9">
    <ul class='list-group'>
      <%= render @user_studies %>
    </ul>
  </div>
</div>