<div class='study'>
  <li class='list-group-item'>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">  
        <%= link_to "#{ study.try(:name) ? study.name : current_user.name }: #{Combmaster.select_tag_name(study.tag)}", study_path(study) %>
      </h5>
      <small><%= convert_date_to_posttime(study.updated_at) %></small>
    </div>
    <p><%= convert_date_to_studydate(study.date) %> <%= convert_time_to_studytime(study.time) %></p>
    <p><%= study.content %></p>
  </li>
</div>
